html, body {
    height: 100%;
}
body {
    background: no-repeat center/cover url("../img/background_opt.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
}
.delivery_sent {
    background-color: green;
}